<div class="form-page">
  <h1 class="page-title">Edit Course</h1>
  <app-loader *ngIf="!course"></app-loader>
  <div *ngIf="course">
    <form #editCourseForm="ngForm" (ngSubmit)="editCourseHandler(editCourseForm.value)">
        <div class="field-holder">
            <label for="title" class="grey-color">Title</label>
            <input type="text" #titleInput="ngModel" [ngModel]="course.title" name="title" id="title" required minlength="6">
            <div *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)">
                <div *ngIf="titleInput.errors.required && titleInput.touched" class="input-error">Please enter a title</div>
                <div *ngIf="titleInput.errors.minlength && titleInput.touched" class="input-error">Title should be at least 6 chars long</div>
            </div>
        </div>
        <div class="field-holder">
            <label for="description" class="grey-color">Description</label>
            <textarea #descriptionInput="ngModel" [ngModel]="course.description" name="description" id="description" required minlength="6"></textarea>
            <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)">
                <div *ngIf="descriptionInput.errors.required && descriptionInput.touched" class="input-error">Please enter a description</div>
                <div *ngIf="descriptionInput.errors.minlength && descriptionInput.touched" class="input-error">description should be at least 6 chars long</div>
            </div>
        </div>
        <div class="field-holder">
            <label for="image" class="grey-color">Image</label>
            <input type="text" #imageInput="ngModel" ngModel [ngModel]="course.image" name="image" id="image" required>
            <div *ngIf="imageInput.invalid && (imageInput.dirty || imageInput.touched)">
                <div *ngIf="imageInput.errors.required && imageInput.touched" class="input-error">Please enter an image url</div>
            </div>
        </div>
        <div class="submit-btn-holder">
            <button [disabled]="editCourseForm.invalid">Edit Course</button>
        </div>
    </form>
  </div>
</div>