<header>
    <div class="top-bar green-back">
        <ul class="top-nav">
            <li>
                <a routerLink="/user/login" routerLinkActive="active">Login</a>
            </li>
            <li>
                <a routerLink="/user/register" routerLinkActive="active">Register</a>
            </li>
            <li>
                <a><fa-icon [icon]="faUser"></fa-icon></a>
            </li>
            <li>
                <a><fa-icon [icon]="faSignOutAlt"></fa-icon></a>
            </li>
        </ul>
    </div>
    <div class="main-header">
        <div class="logo-holder">
            <a routerLink="/">
                <img src="/assets/logo.png" alt="Course Ground">
            </a>
        </div>
        <div class="navigation">
            <ul class="nav">
                <li>
                    <a routerLink="/course/list" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a href="">My Courses</a>
                </li>
                <li>
                    <a href="">Courses Enrolled</a>
                </li>
                <li>
                    <a href="">Add Course</a>
                </li>
                <li>
                    <a routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>