<header>
    <div class="top-bar green-back">
        <ul class="top-nav">
            <li>Login</li>
            <li>Register</li>
            <li><fa-icon [icon]="faUser"></fa-icon></li>
            <li><fa-icon [icon]="faSignOutAlt"></fa-icon></li>
        </ul>
    </div>
    <div class="main-header">
        <div class="logo-holder">
            <img src="/assets/logo.png" alt="Course Ground">
        </div>
        <div class="navigation">
            <ul class="nav">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">My Courses</a>
                </li>
                <li>
                    <a href="">Courses Enrolled</a>
                </li>
                <li>
                    <a href="">Add Course</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>