<app-loader *ngIf="!course && !error"></app-loader>
<div class="course-details" *ngIf="course">
    <img [src]="course.image" alt="">
    <div class="course-text">
        <h1>{{course.title}}</h1>
        <p>{{course.description}}</p>
        <a class="enroll-course" *ngIf="!courseEnrolled" (click)="enrollCourse(course._id)">Enroll</a>
        <span class="already-enrolled" *ngIf="courseEnrolled">You are enrolled to this course!</span>
    </div>
</div>
<div class="course-error" *ngIf="error">
    <h2 class="course-error purple-color">No such course!</h2>
</div>